@{
    ViewBag.Title = "Home Page";
}

<div id="heading">
    <h1>Welcome to The Wallerius Family Cookbook!</h1>
</div>

<div class="searchBar"></div>

<div class="foreword">
    <h2>Foreword</h2>
    <p>
        June 7, 1996
        <br /><br />
        This is not a book of rare gourmet recipes. It is a collection of the simple everyday dishes that were frequently served at our table. They are the recipes that you often call and ask for. Dad has lovingly edited, typed, sorted and put them together for you.
        <br /><br />
        There are a few recipes that I have never made myself but were included because they came from reliable sources.
        <br /><br />
        Our love to you always &amp; forever,
        <br />
        Mom and Dad
    </p>

</div>
